<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Display Issue</title>
    <link rel="stylesheet" th:href="@{/CSS/styles.css}" />
</head>
<body th:object="${emailLog}">
   <h2>Issue Details</h2>
   <p> <span th:field="*{toEmail}">To: <span th:text="${atmIssue.contact}"> </span></span><br/>
   	  <span th:field="*{toCC}">CC: <span th:text="${atmIssue.loggerEmail}"></span>, <span th:text="${atmIssue.branchEmail}"></span>
      <span th:text="#{atmSupport}"></span></span><br/>
      <span th:field="*{subject}">Subject: FIDELITYBANK: <span th:text="${atmIssue.branchName}"></span>
      : <span th:text="${atmIssue.issueDesc}">.</span></span>   
   </p>
      
   
<!--    <p th:text="#{vendorMessage}"></p><br/>
   <table style="width:80%">
        <tr>
           <th><b>ATM LOCATION</b></th>
           <th><b>BRANCH INCHARGE</b></th>
           <th><b>VENDOR</b></th>
           <th><b>ISSUE(S)</b></th>
           <th><b>CONTACT</b></th>
           <th><b>CONTACT PHONE NUMBER</b></th>
           <th><b>DATE LOGGED</b></th>
        </tr>
        <tr>
	      <td th:text="${atmIssue.atmName}"></td>
		  <td><span th:text="${atmIssue.branchName}"></span>, <span th:text="${atmIssue.physicalAddress}"></span></td>
		  <td th:text="${atmIssue.vendorName}"></td>
		  <td th:text="${atmIssue.issueDesc}"></td>
		  <td th:text="${atmIssue.branchLogger}"></td>
		  <td th:text="${atmIssue.loggerPhoneNo}"></td>
		  <td th:text="${atmIssue.logDate}"></td>		  		  
	    </tr>	
	</table>
	<p th:text="#{vendorEnding}"></p>
	<p>Re-log the <a href="#" th:href="@{/atm/issue}">issue</a>.<br/>
	   Send this log as an <a href="#" th:href="@{/atm/sendEmail}">email</a>.
	</p>  -->
</body>
</html>